div {
    padding: 6px 13px;
    border: 3px blueviolet;
    border-radius: 13px;
}
.mydiv {
    padding: 6px 12px;
    border: 2px blueviolet;
    border-radius: 12px;
}



p {
    color: blue;
    text-align: center;
    text-align: justify;
    text-decoration: underline;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    font-size: 30px;
    font-weight: bold;
}
h1 {
    text-shadow: 3px 3px 5px purple;
}
/*box 1 */
.box1 {
    background-color: gray;
    padding: 20px;
    margin: 20px;
    box-shadow: 5px 5px 10px black;
}
/*box 2*/
.box2 {
    background-color: lightgreen;
    padding: 20px;
    margin: 20px;
    box-shadow: 5px 5px 10px yellow ;
}

