.alku {
    padding: 10px 0;
    background-color: #982121;
}



.navi {
    background-color: #333;
    padding: 10px 0;
}

.navi ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; 
    justify-content: center; 
}

.navi li {
    margin: 0 15px;
}

.navi a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

.navi a:hover {
    background-color: #982121;
    border-radius: 5px;
}