.Alku {
background: rgb(16, 15, 15);
color: #2c0590;
text-align: center;
padding: 1rem;
}
.Alku img{
width: 100px;
height: 100px;
justify-content: center;
border: 5px purple;
border-radius: 5px;

}

body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;

}

.navi {
background: #000000;
}
.navi img{
    width: 40px;
    height: 40px;
    
}
.navi ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
   
}

.navi li {
    margin: 0 1rem;
    
}

.navi a {
    color: purple;
    text-decoration: none;
    
}

.navi a:hover {
    text-decoration: underline;  
}
.tieto{
    padding: 2rem;
    text-align: center;
}
.tuotteet{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 2rem;
    text-align: center;
}
.tuote{
    border: 1px solid rgb(14, 14, 14);
    border-radius: 10px;
    padding: 1rem;
}
.tuote img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;

}
div{
    border: 1px solid rgb(12, 12, 12);
    border-radius: 10px;
    padding: 1rem;
}
div img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;

}
button:hover{
background: #2c0590;
}
main{
    padding: 8px 15px;
    border: 2px solid black;
    text-align: center;
    color: white;
    background-color: #a60404;
    text-shadow: 2px 2px 5px pink;
}

.divine{
    flex-direction: row;
    display: flex;
}

.foot{
 background: #333;
 color: white;
 text-align: center;
 padding: 1rem;
 margin-top: 2rem;
}
body{
    background-color: #8f2929;
}

.arvostus article{
    border-top: 3px solid rgb(0, 0, 0);
    padding: 0.5rem  0;
    border-radius: 10px;
    margin:auto ;
    color: indigo;
    text-shadow: 5px black;
    

}
.isosukka img{
    max-width: 400px;
    display: block;
    margin-bottom: 1rem;
}

textarea{
    min-height: 100px;
}
.palaute{
   background-color: black;
   color: white;
 max-width: 300px;
 margin: 0 auto;
 padding: 20px;
 border: 10px;


}
.palaute form{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    padding: 1rem;
    border: 1px solid rgb(6, 6, 6);
    border-radius: 5px;
    box-shadow: 2px 9px 16px purple;
    background: rgb(14, 14, 14);
    
}
.otsikko{
    text-align: center;
    color: white;
    font-size: 1.5rem;
    margin-bottom: 20px;
    
}
